body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 2rem 0;
  background-color: #10525b;
  color: #ffffff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #00a199;
  text-decoration: none;
  border-radius: 4px;
}

#profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

main {
  color: #10525b;
  padding: 2rem;
}

section {
    margin-bottom: 2rem;
}

.work-sample-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-content: space-around;
    color: #ffffff;
}

.work-sample-container > .work-sample:nth-child(1) {
    max-width: 500px;
    max-height: auto;
}

.work-sample-container > .work-sample:nth-child(1) img {
    max-width: 500px;
    width: 100%;
}

.work-sample {
  text-align: center;
  padding: 1rem;
  border: 2px solid #10525b;
  background-color:#00a199;
  box-sizing: border-box;
}

.work-sample img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  border: 2px solid #10525b;
  margin: 0 auto;
  border-radius: 6px;
}

@media (min-width: 768px) {
    .work-sample img {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .work-sample img {
        width: 200px
    }
}

footer {
    background-color: #10525b;
    color:#ffffff;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}

/* TODO: How to make the project boxes smaller, rather than them take up the whole width of the screen */
/* TODO: How to add a background color to the text like in the navigation bar */
/* TODO: Add white border to profile pic */
/*TODO:Add placehold images */
/* TODO: Make sure the challenge 01 image is bigger than the rest of them */ 
/*TODO: write README file */
/*TODO: ensure all links work*/
