body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    padding: 2rem 0;
    background-color: #10525b;
    color: #ffffff;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10rem;
}

nav ul li a {
    text-decoration: wavy;
    color: #ffffff;
}

#profile-photo {

}

main {


}

section {

}

.work-sample {


}

.work-sample img {


}

