body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  padding: 2rem 0;
  background-color: #10525b;
  color: #ffffff;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem 1rem;
  background-color: #00a199;
  text-decoration: none;
  border-radius: 8px;
}

#profile-photo {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

#aboutme {
    text-align: center;
    padding: 2rem;
    background-color: #f0f0f0;
    border: 2px solid #10525b;
    border-radius: 8px;
}

main {
  color: #10525b;
  padding: 2rem;
  text-align: center;
}

section {
    margin-bottom: 2rem;
}

.work-sample-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    color: #ffffff;
}

.work-sample {
  text-align: center;
  padding: 1rem;
  border: 2px solid #10525b;
  background-color:#00a199;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.work-sample img {
  width: 100%;
  height: auto;
  display: block;
  border: 2px solid #10525b;
  margin: 0 auto;
  border-radius: 6px;
}

.work-sample-container > .work-sample:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
    max-width: none;
}

.work-sample-container > .work-sample:nth-child(1) {
    width: 100%;
    max-width: none;
}

@media (min-width: 768px) {
    .work-sample img {
        width: 200px;
    }
    .work-sample-container > .work-sample:nth-child(1) img {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .work-sample img {
        width: 200px
    }
    .work-sample-container > .work-sample:nth-child(1) img {
        width: 100%;
    }
}

footer {
    background-color: #10525b;
    color:#ffffff;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
}